dist: trusty
language: go

go:
  - 1.3
  - 1.4
  - 1.5
  - 1.6
  
before_install:
  - sudo apt-get install -y libvips-dev

env:
  - PKG_CONFIG_PATH="/usr/local/lib/pkgconfig:/usr/lib/pkgconfig"

install:
  - go get github.com/shifr/imgwizard

script: go test -v

notifications:
  email:
    - shi.shifr@gmail.com
